<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<header class="hover smooth" style="position: relative;">
  {% unless site.show_minimal and site.navigation and site.external %}
    <h1 {% if site.navigation and site.external %}class="full"{% endif %}>
      <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </h1>
  {% endunless %}

  {% include menu.html menu=site.navigation %}

  <div style="position: absolute; top: 20px; right: 25px; font-size: 14px;">
    {% if page.url contains '/fr/' %}
      <a href="{{ page.url | remove_first: '/fr' }}">EN</a> /
      <strong>FR</strong>
    {% else %}
      <strong>EN</strong> /
      <a href="/fr{{ page.url }}">FR</a>
    {% endif %}
  </div>
</header>

<script>
function toggleLangMenu() {
  var menu = document.getElementById("lang-menu");
  if (menu.style.display === "none") {
    menu.style.display = "block";
  } else {
    menu.style.display = "none";
  }
}
</script>

{{ content }}

<footer class="hover smooth" style="padding: 18px 20px;">

  <div style="display: flex; justify-content: flex-end;">
    {% include menu.html menu=site.external %}
  </div>

</footer>

</html>
