<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<header class="hover smooth" style="position: relative; padding: 25px 20px;">

  <div style="display: flex; align-items: center; gap: 45px;">
    {% unless site.show_minimal and site.navigation and site.external %}
      <h1 style="margin: 0;">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h1>
    {% endunless %}

    {% include menu.html menu=site.navigation %}
  </div>

  <div style="position: absolute; top: 20px; right: 25px; font-size: 14px;">
    {% if page.url contains '/fr/' %}
      <a href="{{ page.url | remove_first: '/fr' }}">EN</a> /
      <strong>FR</strong>
    {% else %}
      <strong>EN</strong> /
      <a href="/fr{{ page.url }}">FR</a>
    {% endif %}
  </div>

</header>

{{ content }}

{% if site.external %}
<footer>
  <div>{{ site.description | default: site.title }}</div>
  {% include menu.html menu=site.external %}
</footer>
{% endif %}

</html>
